---
import Image from "astro/components/Image.astro";
import Phase1Image from "@/assets/roadmap/phase1.png";
import Phase1ImageSP from "@/assets/roadmap/phase1_sp.png";
import Phase2Image from "@/assets/roadmap/phase2.png";
import Phase2ImageSP from "@/assets/roadmap/phase2_sp.png";
import Phase3Image from "@/assets/roadmap/phase3.png";
import Phase3ImageSP from "@/assets/roadmap/phase3_sp.png";
import HeadingOne from "../parts/heading/HeadingOne.astro";
import HeadingThree from "../parts/heading/HeadingThree.astro";

---
<!--Phase1から3をスライドして出す -->

<HeadingOne heading="Road map" sub="ロードマップ" />
<HeadingThree heading="AIを活用し企業の安全な成長を支援するサービスへ" />

<div class="service-explain">
    サービス概要の説明コピーが入ります。ダミーコピーですダミーコピーですダミーコピーですダミーコピーです。サービス概要の説明コピーが入ります。ダミーコピーですダミーコピーですダミーコピーですダミーコピーです。サービス概要の説明コピーが入ります。ダミーコピーですダミーコピーですダミーコピーですダミーコピーです。サービス概要の説明コピーが入ります。ダミーコピーです
</div>
<div class="phase-content-pc">
    <Image src={Phase1Image} alt="" class="phase"/>
    <Image src={Phase2Image} alt="" class="phase"/>
    <Image src={Phase3Image} alt="" class="phase"/>
</div>
<div class="phase-content-sp">
    <Image src={Phase1ImageSP} alt="" class="phase"/>
    <Image src={Phase2ImageSP} alt="" class="phase"/>
    <Image src={Phase3ImageSP} alt="" class="phase"/>
</div>

<div>

<style lang="scss">
    .service-explain{
        margin-block: 20px;
        max-width: 751px;
    }

    .phase-content-pc{
        display: flex;
        margin: 50px 0;
        justify-content: center;

        .phase{
            width: 33%;
            max-width: 405px;
        }   
    }

    .phase-content-sp{
        display: none;
    }

    @include max("tab"){

        .phase-content-sp{
            display: flex;
            flex-direction: column;
            align-items: center;

            .phase{
                width: 100%;
                max-width: 100%;
            }
        }
        .phase-content-pc {
               display: none;
            }
    }
</style>
